/Cam/pose3d/Realtime_3d_pose_estimation/demo/*.jpg
/Cam/pose3d/Realtime_3d_pose_estimation/demo/*.jpeg
/Cam/pose3d/Realtime_3d_pose_estimation/yolov8_tracking/*.mp4
/Cam/pose3d/Realtime_3d_pose_estimation/yolov8_tracking/*.jpg
/Cam/pose3d/Realtime_3d_pose_estimation/yolov8_tracking/*.jpeg